<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Update Profile</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">
</head>
<body>
{% include 'components/admin_header.html' %}

<section class="form-container" style="min-height: calc(100vh - 19rem);">
   <form class="register" action="" method="post" enctype="multipart/form-data">
      <h3>update profile</h3>
      <div class="flex">
         <div class="col">
            <p>your name </p>
            <input type="text" name="name" placeholder="{{ tutor.name }}" maxlength="50" class="box">
            <p>your profession </p>
            <select name="profession" class="box">
               <option value="" selected>{{ tutor.profession }}</option>
               <option value="developer">developer</option>
               <option value="designer">designer</option>
               <option value="musician">musician</option>
               <option value="biologist">biologist</option>
               <option value="teacher">teacher</option>
               <option value="engineer">engineer</option>
               <option value="lawyer">lawyer</option>
               <option value="accountant">accountant</option>
               <option value="doctor">doctor</option>
               <option value="journalist">journalist</option>
               <option value="photographer">photographer</option>
            </select>
            <p>your email </p>
            <input type="email" name="email" placeholder="{{ tutor.email }}" maxlength="50" class="box">
         </div>
         <div class="col">
            <p>old password :</p>
            <input type="password" name="old_pass" placeholder="enter your old password" maxlength="20" class="box">
            <p>new password :</p>
            <input type="password" name="new_pass" placeholder="enter your new password" maxlength="20" class="box">
            <p>confirm password :</p>
            <input type="password" name="cpass" placeholder="confirm your new password" maxlength="20" class="box">
         </div>
      </div>
      <p>update pic :</p>
      <input type="file" name="image" accept="image/*" class="box">
      <input type="submit" name="submit" value="update now" class="btn">
   </form>
</section>

{% include 'components/footer.html' %}
<script src="{{ url_for('static', filename='js/admin_script.js') }}"></script>
</body>
</html>
